@import "./utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.shopping {
  @include flex;
  justify-content: space-evenly;
  padding: 100px 0px;
  gap: 20px;
  .gallery {
    .image-list {
      @include flex;
      flex-direction: column;
      gap: 20px;
      .gallery-style {
        border-radius: 5px;
        transition: transform 0.1s ease-in;
      }
      .gallery-style:hover {
        transform: scale(1.04);
      }
    }
  }
  .cover-style {
    border-radius: 10px;
  }
  .product-desc {
    @include flex;
    justify-content: space-between;
    flex-direction: column;
    .product-head {
      font-size: 32px;
      padding-bottom: 20px;
    }
    .product-text {
      font-size: 18px;
    }
    .shopping-btns {
      @include flexible;
      gap: 30px;
      .cart-btn {
        background-color: red;
        font-size: 20px;
        color: white;
        width: 80%;
        height: 40px;
        border-radius: 5px;
      }
      .favourite-btn {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        background-color: red;
      }
    }
    .buynow-btn {
      font-size: 24px;
      height: 50px;
      width: 100%;
      border-radius: 5px;
      background-color: red;
      color: white;
    }
    .color-pick-text {
      font-size: 26px;
    }
    .color-choose {
      display: flex;
      flex-direction: row;
      gap: 35px;
      .color-white,
      .color-black {
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }
      .color-white {
        background-color: rgb(163, 158, 158);
      }
      .color-black {
        background-color: rgb(0, 0, 0);
      }
    }
  }
}
