@import "./utilities";

.head {
  height: 100px;
  background: rgba(13, 13, 14, 0.85);
  position: sticky;
  top: 0;
  z-index: 1000;
  .header-container {
    padding: 0px 100px;
  }
  .navigation {
    @include flexible;
    height: 100%;
    .header-nav {
      @include flexible;
      .header-nav-list {
        @include flexible;
        gap: 50px;
        .header-nav-list-item {
          display: inline-block;
          color: white;
          font-size: 20px;
          transition: transform 0.1s ease-in;
        }
        .header-nav-list-item:hover {
          transform: scale(1.25);
        }
      }
    }
    .header-registration {
      @include flexible;
      gap: 20px;
      .header-button {
        border-radius: 6px;
        background-color: rgb(110, 4, 4);
        color: rgb(243, 227, 227);
        font-size: 18px;
        height: 40px;
        width: 100px;
        transition: transform 0.2s ease-out;
        a {
          color: rgb(243, 227, 227);
        }
      }
      .header-button:hover {
        transform: scale(1.15);
      }
    }
  }
}
