@import "./utilities";

.merch-poster {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 30px;

  .merch-poster-container {
    width: 522px;
    height: 411px;
    border-radius: 20px;
    position: relative;
    .shopnow-btn {
      position: absolute;
      width: 220px;
      height: 45px;
      left: 50%;
      transform: translate(-50%);
      bottom: 2rem;
      font-size: 22px;
      background-color: #883436;
      color: #fff;
      border-radius: 2px;
      transition: transform 0.3s ease-in;
      a {
        color: white;
      }
    }
    .shopnow-btn:hover {
      border: 1px solid #fff;
    }
  }
  .merch {
    background-image: url(../images/amazon-merch.png);
    background-size: cover;
    background-position: center;
  }
  .poster {
    background-image: url(../images/displate-posters.png);
    background-size: cover;
    background-position: center;
  }
}
