@import "./utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.store-hero {
  height: 425px;
  background-image: url(../images/store-hero-bg.png);
  background-size: cover;
  background-position: center;
  @include flex;
  @include centering;
  @include text-centering;
  h1 {
    font-size: 38px;
    color: #fff;
    line-height: 40px;
    margin-left: 65%;
    margin-right: 15%;
  }
}

@media (max-width: 900px) {
  .store-hero {
    h1 {
      max-width: 300px;
      margin: auto;
    }
  }
}
