.container {
  padding: 0px 200px;
}

@mixin flexible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex {
  display: flex;
}

@mixin between {
  justify-content: space-between;
}

@mixin centering {
  align-items: center;
}

@mixin text-centering {
  text-align: center;
}
